body {
	font-family: Copse, Georgia, serif;
}

#tooltip {
	position: absolute;
	width: 190px;
	height: auto;
	padding: 10px;
	background-color: azure;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	pointer-events: none;
	z-index: 1000;
}

svg {
	margin: 10px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
	box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-size: 16px;
	line-height: 20px;
}

.axis path, .axis line {
	fill: none;
	stroke: #222222;
	shape-rendering: crispEdges;
}

.axis text {
	font-size: 11px;
}

#yrbox {
	left: 677px;
	top: 241px;
	width: 103px;
	height: 50px;
	position: absolute;
	text-align: center;
	background: white;
	border-style: solid;
	border-width: 1px;
	border-color: #AAAAAA;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#year {
	margin: auto;
	line-height: 51px;
	vertical-align: middle;
	color: #111111;
}

#uniform-animate {
	left: 686px;
	top: 296px;
	position: absolute;
	color: blue;
}

.button span {
	line-height: 15px !important;
}

#uniform-btn1870 {
	left: 670px;
	top: 326px;
	position: absolute;
	align: left;
}

#uniform-btn1880 {
	left: 670px;
	top: 354px;
	position: absolute;
}

#uniform-btn1890 {
	left: 670px;
	top: 382px;
	position: absolute;
}

#uniform-btn1900 {
	left: 670px;
	top: 410px;
	position: absolute;
}

#uniform-btn1910 {
	left: 670px;
	top: 438px;
	position: absolute;
}

#uniform-btn1920 {
	left: 670px;
	top: 466px;
	position: absolute;
}

#uniform-btn1930 {
	left: 670px;
	top: 494px;
	position: absolute;
}

#uniform-btn1940 {
	left: 670px;
	top: 522px;
	position: absolute;
}

#uniform-btn1950 {
	left: 670px;
	top: 550px;
	position: absolute;
}

#uniform-btn1960 {
	left: 670px;
	top: 578px;
	position: absolute;
}

#uniform-btn1970 {
	left: 730px;
	top: 326px;
	position: absolute;
}

#uniform-btn1980 {
	left: 730px;
	top: 354px;
	position: absolute;
}

#uniform-btn1990 {
	left: 730px;
	top: 382px;
	position: absolute;
}

#uniform-btn2000 {
	left: 730px;
	top: 410px;
	position: absolute;
}

#uniform-btn2010 {
	left: 730px;
	top: 438px;
	position: absolute;
}

#uniform-btn2020 {
	left: 730px;
	top: 466px;
	position: absolute;
}

#uniform-btn2030 {
	left: 730px;
	top: 494px;
	position: absolute;
	color: red;
}

#uniform-btn2040 {
	left: 730px;
	top: 522px;
	position: absolute;
	color: red;
}



#Denver, #Jefferson, #Pueblo, #Adams, #Boulder, #Larimer, #Arapahoe, #Weld, #El_Paso, #Douglas, #Broomfield, #Teller  {
	fill: rgb(127,201,127);
	stroke: white;
}


#Logan, #Sedgwick, #Phillips, #Yuma, #Washington, #Morgan, #Lincoln, #Kit_Carson, #Cheyenne, #Kiowa, #Crowley, #Elbert, #Otero, #Bent, #Prowers, #Baca {
	fill: rgb(253,192,134);
	stroke: white;
}


#Gilpin, #Clear_Creek, #Park, #Lake, #Chaffee, #Fremont, #Custer, #Huerfano, #Las_Animas {
	fill: rgb(190,174,212);
	stroke: white;
}


#Moffat, #Rio_Blanco, #Garfield, #Mesa, #Delta, #Montrose, #Eagle, #Pitkin, #Summit, #Routt, #Gunnison, #Archuleta, #Grand, #San_Juan, #La_Plata, #Montezuma, #San_Miguel, #Dolores, #Ouray, #Hinsdale, #Jackson {
	fill: rgb(191,91,23);
	stroke: white;
}


#Mineral, #Rio_Grande, #Conejos,  #Saguache, #Costilla, #Alamosa{
	fill: rgb(56,108,176);
	stroke: white;
}


#xlabel {
	position: absolute;
	color: #222222;
}

#ylabel {
	text-rendering: optimizeLegibility;
	position: absolute;
	color: #222222;
	-ms-transform: rotate(270deg); /* IE 9 */
	-moz-transform: rotate(270deg); /* Firefox */
	-webkit-transform: rotate(270deg); /* Safari and Chrome */
	-o-transform: rotate(270deg); /* Opera */
}

#toplabel {
	position: absolute;
	color: #888888;
}

#legend {
	left: 490px;
	top: 265px;
	width: 200px;
	height: 500px;
	position: absolute;
	outline: grey solid thin;
}

.region {
	position: absolute;
	width: 10px;
	height: 10px;
}

#cat1 {
	left: 540px;
	top: 499px;
	background-color: rgb(127,201,127);
}
#cat2 {
	left: 540px;
	top: 529px;
	background-color: rgb(253,192,134);
}
#cat3 {
	left: 540px;
	top: 514px;
	background-color: rgb(190,174,212);
}
#cat4 {
	left: 540px;
	top: 544px;
	background-color: rgb(191,91,23);
}
#cat5 {
	left: 540px;
	top: 559px;
	background-color: rgb(56,108,176);
}
#cat6 {
	left: 540px;
	top: 574px;
	background-color: rgb(240,2,127);
}

.reg2 {
	position: absolute;
	font-size: 11.5px;
	color: #444444;
}

#text1 {
	left: 553px;
	top: 497px;
}
#text3 {
	left: 553px;
	top: 512px;
}
#text2 {
	left: 553px;
	top: 527px;
}
#text4 {
	left: 553px;
	top: 542px;
}
#text5 {
	left: 553px;
	top: 557px;
}
#text6 {
	left: 553px;
	top: 572px;
}
